@model Clothing
@{
    ViewData["Title"] = "Add new clothing product";
}

<h1>Add new clothing</h1>
<br />
<form class="form-group" method="post">
    <div class="d-inline-flex input-group mb-2 mr-sm-2 w-50" >
        <div class="input-group-prepend" asp-for="Size">
            <label class="input-group-text" asp-for="Size"></label>
        </div>
        <input class="form-control" asp-for="Size" placeholder="" />
    </div>
    <span asp-validation-for="Size"></span>
    <br />

    <div class="d-inline-flex input-group mb-2 mr-sm-2 w-50">
        <div class="input-group-prepend">
            <label class="input-group-text" asp-for="Type"></label>
        </div>
        <input class="form-control" asp-for="Type" placeholder="" />
    </div>
    <span asp-validation-for="Type"></span>
    <br />

    <div class="d-inline-flex input-group mb-2 mr-sm-2 w-50">
        <div class="input-group-prepend">
            <label class="input-group-text" asp-for="Color"></label>
        </div>
        <input class="form-control" asp-for="Color" placeholder="" />
    </div>
    <span asp-validation-for="Color"></span>
    <br />

    <div class="d-inline-flex input-group mb-2 mr-sm-2 w-50">
        <div class="input-group-prepend">
            <label class="input-group-text" asp-for="Price">Price</label>
        </div>
        <input class="form-control" asp-for="Price" placeholder="" />
    </div>
    <span asp-validation-for="Price"></span>
    <br />

    <div class="d-inline-flex input-group mb-2 mr-sm-2 w-50">
        <div class="input-group-prepend">
            <label class="input-group-text" asp-for="Title">Title</label>
        </div>
        <input class="form-control" asp-for="Title" placeholder="" />
    </div>
    <span asp-validation-for="Title"></span>
    <br />

    <div class="d-inline-flex input-group mb-2 mr-sm-2 w-50">
        <div class="input-group-prepend">
            <label class="input-group-text" asp-for="Description">Description</label>
        </div>
        <input class="form-control" asp-for="Description" placeholder="" />
    </div>
    <span asp-validation-for="Description"></span>
    <br />

    <input class="btn btn-primary text-white" type="submit" value="Add Clothing" />
</form>