@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (@ViewData["ErrMsg"] != null)
{
    <h2>@ViewData["ErrMsg"]</h2>
}
<img src="~/img/sid inspects.jpeg" 
     height="200"
     class="img-thumbnail rounded"
     alt="Sid looking through a magnifying glass"/>