@{
    ViewData["Title"] = "Welcome to Tiny Clothes";
}

<div class="row">
    <div class="card class="flex-sm-nowrap"" style="width: 18rem;">
        <img src="~/img/chihuahua-in-red-outfit-downscaled.png"
                class="card-img-top"
                alt="Chihuahua in red outfit" />
        <div class="card-body">
            <h5 class="card-title">Our Products</h5>
            <p class="card-text">We sell tiny clothes for your pets and stuffed animals. For your own safety, please do not apply these clothes to children, especially if they were born in March.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/img/cute-dogs-vintage-photo.jpg"
                class="card-img-top"
                alt="Our employees" />
        <div class="card-body">
            <h5 class="card-title">Our Workplace</h5>
            <p class="card-text">90% of our employees are made up of cursed children. Being neither animal, nor human, they have no rights.</p>
        </div>
    </div>
</div>

<p>
    We do not accept returns or give refunds. The consequences of purchasing our wares will be left to you.
</p>